.centroHora{
	margin: auto;;
}

.menusPrincipales{
	margin-left: 40px;
	border-collapse: collapse;
}

.tablasInformacion{
	margin-left: 40px;
	border-collapse: collapse;
	text-align: center;
}

.alineadoCentro{
	text-align: center;
}
.center{
	margin: auto;
	width: 40%;
}

.botonOculto{
	display: none;
}